@page "/"


<h1 class="page-title">Welcome to Bethany's Pie Shop HRM!</h1>
<br />
<h3>Using this application, you can manage our wonderful staff working for us all over the world, bringing people the best pies ever!</h3>

<hr/>

<div style="background-color:white;padding:20px;line-height:18px;">
	
<p>.NET 5.0 Blazor client application (WebAssembly)</p>

<hr />

<p>Web API</p>
<p>SqlAzure</p>
<p>EntityFramework 6.4.4</p>
<p>EntityFrameworkCore 5.0.3</p>
<p>Automated migrations</p>

<hr />

<p>Data validation</p>
<p>Concurrency</p>


<hr />

<p>Azure DevOps pipeline </p>
<img src="https://dev.azure.com/samniyazi/Training%20Track/_apis/build/status/SamNiyazi2.PS-310---Blazor-Getting-Started?branchName=main"/>

</div>

